In [1]:
import pandas as pd
import requests
import json

In [6]:
url = 'https://caelum-online-public.s3.amazonaws.com/2929-pandas/informacoes.json'
df = pd.read_json(url)

In [7]:
pd.json_normalize(df['enderecos'])

       tipo    rua  numero          cidade
0      casa  Rua A     123       São Paulo
1  trabalho  Rua B     456  Rio de Janeiro

In [8]:
response = requests.get(url)
dados_brutos = json.loads(response.text)

In [10]:
pd.json_normalize(dados_brutos, record_path='enderecos', meta=['nome', 'idade'])

       tipo    rua  numero          cidade  nome idade
0      casa  Rua A     123       São Paulo  João    28
1  trabalho  Rua B     456  Rio de Janeiro  João    28