In [1]:
import pandas as pd
import requests
import json

In [2]:
url = 'https://caelum-online-public.s3.amazonaws.com/2929-pandas/informacoes.json'
df = pd.read_json(url)

In [3]:
pd.json_normalize(df['enderecos'])

       tipo    rua  numero          cidade
0      casa  Rua A     123       São Paulo
1  trabalho  Rua B     456  Rio de Janeiro

In [4]:
response = requests.get(url)
dados_brutos = json.loads(response.text)

In [5]:
pd.json_normalize(dados_brutos, record_path='enderecos', meta=['nome', 'idade'])

       tipo    rua  numero          cidade  nome idade
0      casa  Rua A     123       São Paulo  João    28
1  trabalho  Rua B     456  Rio de Janeiro  João    28

In [14]:
json_df = pd.read_json("https://caelum-online-public.s3.amazonaws.com/2929-pandas/dados.json")
json_df

                                             pessoas
0  {'nome': 'João', 'idade': '25', 'endereco': {'...
1  {'nome': 'Maria', 'idade': 30, 'endereco': {'r...

In [16]:
json_df = pd.json_normalize(json_df['pessoas'])
json_df

,nome,idade,telefones,endereco.rua,endereco.numero,endereco.cidade
0,João,25,"[11 1111-1111, 11 2222-2222]",Rua A,123,São Paulo
1,Maria,30,[21 3333-3333],,456,Rio de Janeiro

In [17]:
json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nome             2 non-null      object
 1   idade            2 non-null      object
 2   telefones        2 non-null      object
 3   endereco.rua     2 non-null      object
 4   endereco.numero  2 non-null      int64
 5   endereco.cidade  2 non-null      object
dtypes: int64(1), object(5)
memory usage: 228.0+ bytes

In [21]:
json_df['idade'] = json_df['idade'].astype('int64')
json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nome             2 non-null      object
 1   idade            2 non-null      int64
 2   telefones        2 non-null      object
 3   endereco.rua     2 non-null      object
 4   endereco.numero  2 non-null      int64
 5   endereco.cidade  2 non-null      object
dtypes: int64(2), object(4)
memory usage: 228.0+ bytes

In [24]:
json_df[json_df['endereco.rua'] != '']

,nome,idade,telefones,endereco.rua,endereco.numero,endereco.cidade
0,João,25,"[11 1111-1111, 11 2222-2222]",Rua A,123,São Paulo